<!doctype html>
<div id="divTemplate" class="qf-field" style="display: block;">
    <div class="field-group">
        <label for="template-field">Template</label>
        <select class="select" id="template-field" name="template-field" style="display: block;padding-top: 3px;">
            <option value="empty" selected="selected">Empty</option>
            <option value="bug">Bug</option>
            <option value="newfeature">New Feature</option>
            <option value="webservice">Web Service</option>
        </select>
    </div>
</div>